    <div class="nav-bar">
        <div class="nav-bar-inner">
 
            <span class="element">{{ menu }}</span>
 
            <span class="divider"></span>
 
            <ul class="menu">
                <li><a href="{{ path('myapp_rdv_listerRien') }}">Rien</a></li>
                <li><a href="{{ path('myapp_rdv_lister') }}">Rappeler</a></li>
                <li><a href="{{ path('myapp_rdv_listerRdv') }}">RDV</a></li>
                <li><a href="{{ path('myapp_rdv_listerDone') }}">Done</a></li>
                <li><a href="{{ path('myapp_rdv_listerSeconde') }}">2nd Service</a></li>
                <li><a href="{{ path('myapp_rdv_listerAnnee') }}">2013</a></li>
            </ul>
        </div>
    </div>