<div class="tile">
        <table id="" class="hovered">
            <tr>
                <td class="no_bottom_border" rowspan="3">
                    <h2>C</h2>
                </td>
<td class="currentMatch"><h6>{{ nbClient[0][1] }}</h6></td>
<td class="currentMatch"><h6>{{ nbClient[0][1] }}</h6></td>
</tr>
<tr>
<td class="currentMatch"><h6>{{ nbClientWeek[0][1] }}</h6></td>
<td class="currentMatch"><h6>{{ nbClientWeek[0][1] }}</h6></td>
</tr>
<tr>
<td class="currentMatch"><h6>{{ nbClientMonth[0][1] }}</h6></td>
<td class="currentMatch"><h6>{{ nbClientMonth[0][1] }}</h6></td>
</tr>
</table>
</div>