        <table id="porte">
            <tr>
                <td rowspan="3">
                    <h1>P</h1>
                </td>
<td id="currentMatch"><h6>{{ nbClient[0][1] }}</h6></td>
<td id="currentMatch"><h6>{{ nbClient[0][1] }}</h6></td>
</tr>
<tr>
<td id="currentMatch"><h6>{{ nbClientWeek[0][1] }}</h6></td>
<td id="currentMatch"><h6>{{ nbClientWeek[0][1] }}</h6></td>
</tr>
<tr>
<td id="currentMatch"><h6>{{ nbClientMonth[0][1] }}</h6></td>
<td id="currentMatch"><h6>{{ nbClientMonth[0][1] }}</h6></td>
</tr>
</table>