        <table id="porte">
            <tr>
                <td rowspan="3">
                   <h1>S</h1>
                </td>

<td><h6>{{ nbContratWeek[0][1] }}</h6></td>
<td><h6>{{ nbContratWeek[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbContrat[0][1] }}</h6></td>
<td><h6>{{ nbContrat[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbContratWeek[0][1] }}</h6></td>
<td><h6>{{ nbContratMonth[0][1] }}</h6></td>
</tr>
</table>