        <table class="hovered">
            <tr>
                <td class="no_bottom_border" rowspan="3">
                   <h2>C</h2>
                </td>

<td><h6>{{ nbContratWeek[0][1] }}</h6></td>
<td><h6>{{ nbContratWeek[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbContrat[0][1] }}</h6></td>
<td><h6>{{ nbContrat[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbContratWeek[0][1] }}</h6></td>
<td><h6>{{ nbContratMonth[0][1] }}</h6></td>
</tr>
</table>