        <table id="porte">
            <tr>
                <td rowspan="3">
                    <h1>P</h1>
                </td>
<td><h6>{{ nbEstimationWeek[0][1] }}</h6></td>
<td><h6>{{ nbEstimationWeek[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbEstimationMonth[0][1] }}</h6></td>
<td><h6>{{ nbEstimationMonth[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbEstimation[0][1] }}</h6></td>
<td><h6>{{ nbEstimation[0][1] }}</h6></td>
</tr>
</table>