        <table  id="" class="hovered">
            <tr>
                <td class="no_bottom_border" rowspan="3">
                    <h2>E</h2>
                </td>
<td><h6>{{ nbEstimationWeek[0][1] }}</h6></td>
<td><h6>{{ nbEstimationWeek[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbEstimationMonth[0][1] }}</h6></td>
<td><h6>{{ nbEstimationMonth[0][1] }}</h6></td>
</tr>
<tr>
<td><h6>{{ nbEstimation[0][1] }}</h6></td>
<td><h6>{{ nbEstimation[0][1] }}</h6></td>
</tr>
</table>