<table id="porte">
            <tr>
                <td rowspan="3">
                   <h1>P</h1>
    </td>
		<td class="currentMatch" data-nbProductionObj={% if nbProductionObj is defined %}{{ nbProductionObj }}{% endif%}><h6>{{ nbProductionWeek[0][1] }}</h6></td>
		<td><h6>{{ nbProductionMonth[0][1] }} - {{ nbProductionObj }}</h6></td>
	</tr>
	<tr>
		<td><h6>{{ nbProductionMonth[0][1] }}</h6></td>
		<td><h6>{{ nbProductionMonth[0][1] }}</h6></td>
	</tr>
	<tr>
		<td><h6>{{ nbProduction[0][1] }}</h6></td>
		<td><h6>{{ difObjectifProd }}</h6></td>
	</tr>
</table>
