{% extends 'MyAppApBundle::layout.html.twig' %}
{% block title %}{{ client.nom|upper }} {{ client.prenom|capitalize }}{% endblock %}

{% block recherche %}
    <div id= "no-margin">
<ul class="pager">
  <li class="icon-arrow-left-2">                <a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'client': client, 'etat': client.etat, 'param':'Prev' }) }}"> Précèdent</a>
  </li>
<li><b>État: {{ client.etat }} </b></li>
  <li class="icon-arrow-right-2"><a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'etat': client.etat, 'param':'Next' }) }}"> Suivant</a>
</li>
</ul>
</div>
{% endblock %}

{% block principalNote %}
<div class= "info-client">
<div class="right-map">
<table id="map">
            <tr>
                <td>
                    {{ google_map_container(map) }}
                    {{ google_map_js(map) }}
                </td>
            </tr>
            </table>
            </div>
            <div class="client">
                               <h6><a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'client': client, 'param':'Prev' }) }}"> Précèdent</a><a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'client': client, 'param':'Next' }) }}"> Suivant</a></h6>
    <h6>Créé par: {{ client.user|capitalize }} le {{ client.dateTable.date|date('d M y') }}</h6>
    <h6>Service demandés: {{ client.service.type|capitalize }}</h6>
<address>
<b><a href="{{ path('myapp_client_modifier', { 'id': client.id }) }}">{{ client.nom|upper }}  {{ client.prenom|capitalize }}</a></b><br>
  {{ client.number }} {{ client.street }}<br>
  {{ client.city.city|capitalize }}, {{ client.pc|upper }}<br>

{% for p in client.phones %}
    {{ p.phoneType.phoneType|capitalize }}: {{ p.phone }}
    <br>
{% else %}

        Aucun Téléphone.

{% endfor %}
<br>
<a href="mailto:{{ client.email }}">{{ client.email }}</a>
</address>
    </div>
    <pre id="note">Notes: <a rel="modal-profile" href="#"><img src="{{ asset('bundles/myappap/images/add.png') }}" title="Ajouter Note Client"/></a></pre>
                    
{% for n in notes %}
    <span class="dateSpan"><b>{{ n.created|date('d/m/y') }}: {{ n.type }}</b></span> {{ n.note|capitalize }}<br>
{% else %}

        Aucunes notes trouvées

{% endfor %}
    </div>

{% endblock %}
    
{% block right %}
<div >

      <div>  <pre id="vertical">Services<a href="{{ path('myapp_estimation_creerService', { 'id': client.id }, { 'map': map }) }}"> <img src="{{ asset('bundles/myappap/images/add.png') }}" title="Ajouter Service"/></a></pre>
</div>
      <div >
<table id="tbestimation">

    
{% if clientServices %}
{% for s in clientServices %}
        <tr>
            <td><span class="dateSpan"><b>{{ s.created|date('d/m/y') }}</b></span></td>
            <td>{{ s.service.type }}</td>
            <td>{{ s.prix|number_format(2, ',', '.') }}$</td>
            <td>{{ s.note|capitalize }}</td> 
            <td><a href="{{ path('myapp_service_supprimerService', { 'idd': s.id,'id': client.id  }) }}"><img src="{{ asset('bundles/myappap/images/cross.png') }}" title="Supprimer service"/></a></td>
          
        {% if s.image.webpath is defined %}
        <td><span class="icone"><img src="{{ asset(s.image.webPath) }}" alt="{{ s.image.alt }}" class="img-polaroid"  width="100px" height="100px" /></span></td>
        {% else %}
        <td/>
 {% endif %}
        </tr>
{% else %}
        <tr>
            <td>Aucun Services trouvés</td>
        </tr>

{% endfor %}
    </table>
 {% endif %}

              </div>
              </div>

<div>

             <pre id="vertical">Contrats<a href="{{ path('myapp_contrat_ajouter', { 'id': client.id }) }}"> <img src="{{ asset('bundles/myappap/images/add.png') }}" title="Ajouter Contrat"/></a></pre>

     {% if clientservicestest %}
<table id="tbestimation">
{% for co in clientservicestest %}
        <tr>
            <td><span class="dateSpan"><b>{{ co.created|date('d/m/y') }}:</b></span></td>
            <td>{{ co.numero }}</td>
            <td>{{ co.service }}</td>
            <td>{{ co.prix }}$</td>

            <td><a href="{{ path('myapp_contrat_voir', { 'id': co.id }) }}"><img src="{{ asset('bundles/myappap/images/binoculars.png') }}" alt="Stats"/></a></td></td>
            {% if co.date != null %}
                <td>{{ co.date|date('d M y') }}</td
            {% else %}
                <td>N/A</td>
            {% endif %}
                



         </tr>       
{% else %}
    <tr>
        <td>Aucunes contrats trouvées</td>
    </tr>
{% endfor %}
    </table> 
{% endif %}   
        </div>
        
    <div class="modale-profile">
<h2>Ajouter une note:</h2>
    <a class="modal-close-profile" title="Close profile window" href="#"><img src="{{ asset('bundles/myappap/images/cross.png') }}" title="Fermer la fenêtre"/></a>

    <form action="" method="post" {{ form_enctype(formNote) }}>
    {{ form_widget(formNote) }}
    {{ form_rest(formNote) }}
    <input type="submit" />
</form>
        </div>
</table>   
    <script type="text/javascript">
   $(document).ready(function(){
        $.Dialog({
            'title'       : 'My dialog title',
            'content'     : 'HTML content',
            'draggable'   : true,
            'overlay'     : true,
            'closeButton' : true,
            'buttonsAlign': 'right',
            'keepOpened'  : false,
            'position'    : {
                'zone'    : 'right'
            },
            'buttons'     : {
                'button1'     : {
                    'action': function(){}
                },
                'button2'     : {
                    'action': function(){}
                }
            }
        });
    });
    </script>
{% endblock %}
